{% extends 'base.html' %}

{% block title %}Show Tasks{% endblock %}

{% block content %}

<div class="container mt-n2">
  <div class="row">
      {% for task in tasks %}
          <div class="col-sm-4 mb-4">
              <div class="card mx-1">
                  <div class="card-body">
                      <h5 class="card-title">ID: {{ task.id }}</h5>
                      <p class="card-title">Assigned Date: {{ task.taskAssignDate }}</p>

                      <p>
                          Category:
                          {% if task.category.all %}
                              {% for cat in task.category.all %}
                                  <button class="badge bg-secondary" disabled>{{ cat.categoryName }}</button>
                              {% endfor %}
                          {% else %}
                              No Categories
                          {% endif %}
                      </p>

                      <p class="card-text">Description: {{ task.taskDescription }}</p>

                      {% if not task.is_completed %}
                          <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit</a>
                          <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
                      {% else %}
                          <h6>Completed</h6>
                      {% endif %}
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>

{% endblock %}


